<tr id="contact-{{id}}">
<td>{{first_name}} {{last_name}}</td>
<td>
<a class="btn btn-danger remove-to-report contact-id-{{id}}" data-contact-id="{{id}}"><span class="glyphicon glyphicon-remove"></span>Remove from report</a>
</td>
</tr>
