<tr>
<td>{{first_name}} {{last_name}}</td>
<td>
<a class="btn btn-success add-to-report contact-id-{{id}}" data-contact-id="{{id}}" data-contact-first-name="{{first_name}}" data-contact-last-name="{{last_name}}" {{#if disabled}}disabled="disabled"{{/if}}><span class="glyphicon glyphicon-plus"></span>Add to report</a>
</td>
</tr>
