%tr
  %td= user.id
  %td= user.email
  %td
    - user.country_code.each do |country_code|
      = Carmen::Country.coded(country_code).try(:name)
      %br

  %td
    = link_to edit_user_path(user), class: 'btn btn-primary' do
      Edit
      %span.glyphicon.glyphicon-edit
    = link_to user_path(user), method: 'delete', class: 'btn btn-danger', confirm: 'Are you sure you want to delete the user?' do
      Delete
      %span.glyphicon.glyphicon-remove