%tr
  - params[:cols].each do |column|
    %td
      - if column == 'country_code'
        - country_code = contact.send(column)
        - if country_code.present?
          =Carmen::Country.coded(country_code).name
          = "(#{country_code})"
      - elsif column == 'tags'
        - contact.tags.each do |tag|
          %span.label.label-primary
            = tag.name
      - elsif column == 'organization'
        = contact.organization.name if contact.organization.present?
      -else
        = contact.send column
  %td
    =link_to contact_path(contact), class: 'btn btn-success'  do
      %span.glyphicon.glyphicon-eye-open
      View
    - if current_user.is_admin?
      =link_to edit_contact_path(contact), class: 'btn btn-primary'  do
        %span.glyphicon.glyphicon-edit
        Edit
    - if current_user.is_admin?
      = link_to contact_path(contact), method: 'delete', class: 'btn btn-danger', confirm: 'Are you sure you want to delete the contact?' do
        Delete
        %span.glyphicon.glyphicon-remove