#contacts-filters.row
  .col-lg-12
    %h3 Busqueda
  = form_tag contacts_search_index_path, id: 'filters-contacts-form' do
    .col-lg-12
      .border-box
        .filter-row
          .col-lg-12
            %label Nombre
            = text_field_tag 'filters[first_name]', params[:filters][:first_name], class: 'form-control'
          .col-lg-12
            %label Apellido
            = text_field_tag 'filters[last_name]', params[:filters][:last_name], class: 'form-control'
          .col-lg-12
            %label Email
            = text_field_tag 'filters[email]', params[:filters][:email], class: 'form-control'
          .col-lg-12
            %label Pais
            - if current_user.all_countries?
              = select_tag "filters[countries_code]",
                  options_for_select(Carmen::Country.all.map {|country| [country.name, country.code]}, params[:filters][:countries_code]),
                  multiple: true, include_blank: true, class: 'form-control'

            - else
              %br
              %strong=Carmen::Country.coded(current_user.country_code.first).name if current_user.country_code
              =hidden_field_tag 'filters[countries_code]', current_user.country_code if current_user.country_code
      .border-box
        .filter-row
          .col-lg-12
            %label Organizacion
            = select_tag "filters[organizations]",
                options_for_select(Organization.all.map {|organization| [organization.name, organization.id]}, params[:filters][:organizations]),
                multiple: true, include_blank: true, class: 'form-control'
          .col-lg-12
            %label Tipo de Organizacion
            = select_tag "filters[organization_kinds]",
                options_for_select(Organization::TYPES.map {|type| [type.last, type.first]}, params[:filters][:organization_kinds]),
                multiple: true, include_blank: true, class: 'form-control'


          .col-lg-12
            %label Posicion Political
            = select_tag "filters[political_positions]",
                options_for_select(Contact::POLITICAL_POSITIONS.map {|position| [position.last.humanize, position.first]}, params[:filters][:political_positions]),
                multiple: true, include_blank: true, class: 'form-control'
          .col-lg-12
            %label Nivel de confianza
            = select_tag "filters[level_of_trust]",
                options_for_select([1,2,3,4,5], params[:filters][:level_of_trust]),
                multiple: true, include_blank: true, class: 'form-control'
          .col-lg-12
            %label Tags
            = select_tag "filters[tags]",
                options_for_select(ActsAsTaggableOn::Tag.all.map {|tag| tag.name}, params[:filters][:tags]),
                multiple: true, include_blank: true, class: 'form-control'

      .border-box
        .filter-row
          #columns-container.col-lg-12
            %label Columnas
            %br
            - columns_array.each do |column|
              %label
                = column.first
                = check_box_tag 'cols[]', column.last, params[:cols].include?(column.last)

      .filter-row
        .col-lg-12
          = link_to class: 'btn btn-lg btn-primary col-lg-12', id: 'submit-search-form-button' do
            %span.glyphicon.glyphicon-search
            Buscar
          = link_to '#', class: 'btn btn-lg btn-success col-lg-12', id: 'export-to-excel-button' do
            %span.glyphicon.glyphicon-cloud-download
            Exportar a Excel
          - if current_user.is_admin?
            = link_to '#importModal', class: 'btn btn-lg btn-info col-lg-12', id: 'export-to-excel-button', "data-toggle" => "modal" do
              %span.glyphicon.glyphicon-cloud-upload
              Importar de Excel
          = link_to '#', class: 'btn btn-lg btn-success col-lg-12', id: 'export-to-pdf-button' do
            %span.glyphicon.glyphicon-cloud-download
            Exportar a PDF

