%h1 
  Contactos
  - if current_user.is_admin?
    %small
      = link_to new_contact_path, class: 'btn btn-primary pull-right' do
        %span.glyphicon.glyphicon-plus
        Nuevo Contacto

.row
  .col-lg-3
    = render partial: 'contacts/filters'
  .col-lg-9
    = paginate @contacts
    %table.table.table-hover.table-bordered#contacts-table
      %thead
        %tr
          - params[:cols].each do |column|
            %th= column.humanize
          %th Actions
      %tbody
        = render @contacts

    = paginate @contacts

= render partial: 'contacts/import_xls_modal'