%h1
  = @contact.name
  %small
    = link_to contacts_path, class: 'btn btn-primary pull-right' do
      %span.glyphicon.glyphicon-arrow-left
      Return

%h4 Personal Information

%dl.dl-horizontal
  %dt First Name:
  %dd= @contact.first_name
  
  %dt Last Name:
  %dd= @contact.last_name
  
  %dt Genre:
  %dd= @contact.genre.try :humanize
  
  %dt Twitter:
  %dd= @contact.twitter
  
  %dt Facebook:
  %dd= @contact.facebook

%h4 Address

%dl.dl-horizontal
  %dt Address:
  %dd
    = @contact.address
    %br
    = @contact.address_2
  
  %dt Country:
  %dd
    - country_code = @contact.country_code
    - country = Carmen::Country.coded(country_code) if country_code.present?
    = "#{country.name} (#{country_code})" if country.present?
  
  %dt Region/State:
  %dd= "#{country.subregions.coded(@contact.state_code).name} (#{@contact.state_code})" if @contact.state_code.present?
  
  %dt City:
  %dd= @contact.city

%h4 Telephones

%dl.dl-horizontal
  - @contact.telephones.each do |telephone|
    %dt= "#{telephone.kind.humanize}:"
    %dd= telephone.number

%h4 Emails

%dl.dl-horizontal
  - @contact.emails.each do |email|
    %dt= "#{email.kind.humanize}:"
    %dd= email.email

%h4 NDI Relationship

%dl.dl-horizontal
  %dt Consultant:
  %dd
    - if @contact.ndi_consultant
      %span.glyphicon.glyphicon-ok.ok-color
    - else
      %span.glyphicon.glyphicon-remove.not-color

  %dt Pro bono:
  %dd
    - if @contact.probono
      %span.glyphicon.glyphicon-ok.ok-color
    - else
      %span.glyphicon.glyphicon-remove.not-color
  
  %dt Level of trust:
  %dd= @contact.level_trust

%h4 Political Information

%dl.dl-horizontal
  %dt Organization:
  %dd= @contact.organization.name if @contact.organization
  
  %dt Position within org.:
  %dd= @contact.position
  
  %dt Political position:
  %dd= Contact::POLITICAL_POSITIONS[@contact.political_position.to_s].humanize if @contact.political_position

%h4 Tags 

%dl.dl-horizontal 
  %dt tags:
  %dd
    - @contact.tags.each do |tag|
      %span.label.label-primary
        = tag.name

%h4 Creation

%dl.dl-horizontal
  %dt Created by:
  %dd= @contact.audits.first.user.email if @contact.audits.first && @contact.audits.first.user.present?

  %dt Created at:
  %dd= @contact.created_at

%h4 Last Update

%dl.dl-horizontal
  %dt Updated by:
  %dd= @contact.audits.last.user.email if @contact.audits.first && @contact.audits.first.user.present?

  %dt Updated at:
  %dd= @contact.updated_at

- if current_user.is_admin?
  
  %h4 Updates history


  %table.table.table-hover.table-bordered
    %thead
      %tr
        %th Updated by
        %th Updated at
        %th Changes
    %tbody
      - @contact.audits.each do |audit|
        %tr
          %td= audit.user.email if audit.user
          %td= audit.created_at
          %td
            - audits = audit.audited_changes.map do |audit_change|
              - if audit_change.last.is_a? Array
                - "#{audit_change.first.humanize} change #{audit_change.last.first} to #{audit_change.last.last}"
              - else
                - "#{audit_change.first.humanize} change to #{audit_change.last}"
            = audits.to_sentence()  
              
  