%tr
  - columns.each do |column|
    %td
      - if column == 'country_code'
        - country_code = contact.send(column)
        - if country_code.present?
          =Carmen::Country.coded(country_code).name
          = "(#{country_code})"
      - elsif column == 'tags'
        - contact.tags.each do |tag|
          %span.label.label-primary
            = tag.name
      - elsif column == 'organization'
        = contact.organization.name if contact.organization.present?
      - elsif column == 'emails'
        -contact.emails.each do |email|
          %strong= "#{email.kind.humanize}:"
          = email.email
          %br
      - elsif column == 'telephones'
        - contact.telephones.each do |telephone|
          %strong= "#{telephone.kind.humanize}:"
          = telephone.number
          %br
      -else
        - puts "======= #{column} ====="
        = contact.send column