= form_for @report, html: {class: 'form-horizontal cmxform'} do |form|
  .form-group
    %label.col-lg-2.control-label Name:
    .col-lg-10
      = form.text_field :name, class: 'form-control', required: true, minlength: 2
  
  .form-group
    %label.col-lg-2.control-label Description:
    .col-lg-10
      = form.text_field :description, class: 'form-control', required: true, minlength: 2
      = form.text_area :contact_ids

  .form-group
    %label.col-lg-2.control-label Columns:
    #cols-container.col-lg-10
      = form.collection_check_boxes :columns_report, columns_array, :last, :first

  = form.submit class: 'btn btn-primary'

= render partial: 'contacts_search'

.row
  .col-lg-6
    %h4 
      Search Results
      %small
        %a#add-all-button.btn.btn-success.pull-right
          %span.glyphicon.glyphicon-plus
          Add All
    %ul.pagination
    %table#contacts-search-results.table.table-hover.table-bordered
      %thead
        %tr
          %th Name
          %th Actions
      %tbody
    %ul.pagination

  .col-lg-6
    %h4 Reports Contact
    %table#contacts-in-report.table.table-hover.table-bordered
      %thead
        %tr
          %th Name
          %th Actions
      %tbody
            

<script id="contact-result-template" type="text/x-handlebars-template">
</script>

<script id="contact-to-report-template" type="text/x-handlebars-template">
</script>