!!! 5
%html
  %head
    %title
      Base de Datos NDI-LAC
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true 
    = csrf_meta_tag


  %body{'data-no-turbolink' => true}
    %header.navbar.navbar-default.navbar-static-top
      .container
        = link_to 'Base de Datos NDI-LAC', root_path, class: 'navbar-brand'
        - if current_user
          %ul.nav.navbar-nav
            %li= link_to 'Reportes', reports_path
            %li= link_to 'Contactos', contacts_path
            %li= link_to 'Organizaciones', organizations_path if current_user.is_admin?
            %li= link_to 'Usuarios', users_path if current_user.is_admin?
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                = current_user.email
                %b.caret
              %ul.dropdown-menu
                %li
                  = link_to 'Editar Perfil', user_profile_path
                %li
                  =link_to 'Salir', destroy_user_session_path, method: :delete
    #errors-container
      
    .container
      - if current_user
        - unless current_user.imports.started.empty?
          - current_user.imports.started.each do |import|
            .alert.alert-info
              %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", type: "button"} ×
              %strong El archivo ##{import.id} se está procesando.

        - unless current_user.imports.new_imports.empty?
          - current_user.imports.new_imports.each do |import|
            .alert.alert-info
              %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", type: "button"} ×
              %strong El archivo ##{import.id} esta esperando para ser procesando.

        - unless current_user.imports.conflited.empty?
          - current_user.imports.conflited.each do |import|
            .alert.alert-warning
              %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", type: "button"} ×
              %strong El archivo ##{import.id} se proceso y se encontraron conflictos. #{link_to 'Resolver conflictos.', import_path(import)}

      = yield

= javascript_include_tag "application", "data-turbolinks-track" => true

=yield(:javascript_files)

%script{type: 'text/javascript'}
  =yield(:javascript)